.avatar {
    border-radius: 50%;
}

.rankTable {
    border-collapse: collapse;
}

.rankTable td {
    width: 100px;
    height: 100px;
    padding: 0;
}

.content {
    border: 2px solid black;
}

.line {
    border: 2px solid red;
    position: "absolute";
}

.horizontal-line {
    height: 0px;
    width: 100%;
}

.vertical-line {
    width: 0px;
    height: 100%;
    margin: 0px auto;
}

td {
    position: relative;
}