.avatar {
    border-radius: 50%;
}

.rankTable {
    margin: 0px auto;
}

.content {
}

.line {
    border: 2px solid red;
    position: absolute;
}

.horizontal-line {
    height: 0px;
    width: 100%;
}

.vertical-line {
    width: 0px;
    height: 100%;
    margin: 0px auto;
    top: 0;
    left: 50%;
}

td {
    position: relative;
    border-radius: 50%;
    width: 300px;
    height: 150px;
    margin: 20px;
}

.half {
    left: 50%;
    top: 50%;
}

.half-v {
    height: 50%;
}

.half-h {
    width: 50%;
}

.rank {
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0px auto;
}